.primary {
    padding: 20px;
    height: 100px;
}

.inputbox {
    padding: 20px;
    height: 20px;
}


.description {
    padding: 20px;
    height: 100px;
}

.center {
    display: grid;
    place-items: center;
  }

.submit{
    height: 100px;
    display: grid;
    place-items: center;
}