.center {
    display: grid;
    place-items: center;
  }

  .link {
    text-decoration: none;
    color: black;
}

.primary {
    padding: 20px;
    height: 100px;
}

.image {
  display: grid;
  place-items: center;
}

.longtext {
  padding: 20px;
  width: 700px;
}
