.link {
    text-decoration: none;
    color: black;
}

.list {
    margin-top: 20px;
}

.outlet {
    width: 80%;
    float: right;
}

.sidebar {
    width: 290px;
    float: left;

}

.sidebutton{
    width:270px;
}

.dashboardContainer {
    display: flex;
}